link(rel='stylesheet', href='/styles/mobile/infoPanel.css')
h1#aboutME akm-y
.panel.close
  .panelContent
    img.profile-img(src="/images/favicon.jpg")
    div.aboutText
      p.title ~ tangible intangible ~
      p Andrea Macias-Yanez is a visualist, 3d artist and maybe architect --  swimming between the real and unreal world of the virtual --  based in Berlin
      p.email amacias.y@gmail.com
        a(href="mailto:amacias.y@gmail.com?Subject=Hello%20again" target="_top")
        i.material-icons.contactIcon send
      p.footnote *A Gusto Production*
