link(href='/styles/nav.css', rel='stylesheet')
link(href='/styles/mobile/nav.css', rel='stylesheet')
a(href='/' data-ajax="false")
  h1#home-link andrea k. macias-ya&#xF1;ez
nav
  ul#2d
    .label ~2d~ 
      span &#x2195;
    .navDropdownBox
      li#boffo.optionLinks
        a(href='/2d/boffo' data-ajax="false")  BOFFO 
      li#prepscan.optionLinks
        a(href='/2d/prepscan' data-ajax="false")  Prep Scans
      li#shells.optionLinks
        a(href='/2d/shells' data-ajax="false")  Shells 
      li#screentale.optionLinks
        a(href='/2d/screentale' data-ajax="false")  Screen Tale 
  ul#3d
    .label  ~3d~ 
      span &#x2195;
    .navDropdownBox
      li#bathhouse.optionLinks
        a(href='/3d/bathhouse' data-ajax="false")   Rebirth of the Bath House
      li#BlindSpot.optionLinks
        a(href='/3d/blindSpot' data-ajax="false")  Blind Spot 
      li#BlindSpot2.optionLinks
        a(href='/3d/blindSpot2' data-ajax="false")  Blind Spot #2
      li#fruits.optionLinks
        a(href='/3d/fruits' data-ajax="false")   Fruits 
      li#virtual-flavor.optionLinks
        a(href='/3d/virtual-flavor' data-ajax="false")  Virtual Flavor
  ul#fabrication
    .label ~ fabrication ~ 
      span &#x2195;
    .navDropdownBox 
      li#rebirth.optionLinks
        a(href='/fabrication/bathhouse' data-ajax="false")  Rebirth of the Bath House  
      li#leckey.optionLinks
        a(href='/fabrication/leckey' data-ajax="false")  A Month in Making
      li#berggren.optionLinks
        a(href='/fabrication/berggren' data-ajax="false")  Privilege & Melancholy
  ul#3dModels
    .label ~ 3d models ~ 
      span &#x2195;
    .navDropdownBox
      li#food.optionLinks
        a(href='/model/food' data-ajax="false")  Food  
      li#corridor.optionLinks
        a(href='/model/corridor' data-ajax="false")  Corridor 
      li#fruitsModel.optionLinks
        a(href='/model/fruits' data-ajax="false")  Fruits 
  ul#who
    a(href='/who' data-ajax="false")
      .label  ~ who ~ 
        span &#x2195;
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(type='text/javascript', src='/scripts/nav.js')

 
