link(href='/styles/nav.css', rel='stylesheet')
link(href='/styles/mobile/nav.css', rel='stylesheet')
header
  a(href='/' data-ajax="false")
    h1#home-link akm-y
nav
  ul#2d
    .label ~2d~
    .navDropdownBox
      li#boffo.optionLinks
        a(href='/2d/boffo' data-ajax="false")  1. BOFFO 
      li#shells.optionLinks
        a(href='/2d/shells' data-ajax="false")  2. Shells 
      li#screentale.optionLinks
        a(href='/2d/screentale' data-ajax="false")  3. Screenshot Tale 
      li#prepscan.optionLinks
        a(href='/2d/prepscan' data-ajax="false")  4. Object Scans Scanned 
  ul#3d
    .label  ~3d~
    .navDropdownBox
      li#fruits.optionLinks
        a(href='/3d/fruits' data-ajax="false")   1. Fruits 
      li#meals-recipes.optionLinks
        a(href='/3d/meal-recipes' data-ajax="false") 2. MEAL & RECIPES
      li#corridor.optionLinks
        a(href='/3d/corridor' data-ajax="false")  3. Corridor 
      li#re-corridor.optionLinks
        a(href='/3d/re-corridor' data-ajax="false")  4. re-Corridor 
      li#bathhouse.optionLinks
        a(href='/3d/bathhouse' data-ajax="false")   5. Bath House 
  ul#fabrication
    .label ~ fabrication ~
    .navDropdownBox
      li#bathhouse.optionLinks
        a(href='/fabrication/bathhouse' data-ajax="false")  1. Bath House  
      li#groupshow.optionLinks
        a(href='/fabrication/groupshow' data-ajax="false")  2. Group Show  
      li#leckey.optionLinks
        a(href='/fabrication/leckey' data-ajax="false")  3. LECKEY
      li#berggren.optionLinks
        a(href='/fabrication/berggren' data-ajax="false")  4. Berggren  
  ul#3dModels
    .label ~ 3d models ~
    .navDropdownBox
      li#fruits.optionLinks
        a(href='/model/fruits' data-ajax="false")  1. Fruits 
      li#food.optionLinks
        a(href='/model/food' data-ajax="false")  2. Food  
      li#corridor.optionLinks
        a(href='/model/corridor' data-ajax="false")  3. Corridor 
  ul#who
    .label  WHO
    .navDropdownBox
      li#twitter.optionLinks
        a(href='http://untitled00001.tumblr.com/')  hoarding
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(type='text/javascript', src='/scripts/nav.js')

 
