link(href='/styles/nav.css', rel='stylesheet')
link(href='/styles/mobile/nav.css', rel='stylesheet')
a(href='/' data-ajax="false")
  h1#home-link andrea k. macias-ya&#xF1;ez
a#who-link(href='/who' data-ajax="false") ?
  
nav
  ul
    li.label#rebirth
      a(href='/canvas/rebirth' data-ajax="false")  Rebirth 
    li.label#blindSpot
      a(href='/canvas/blindSpot' data-ajax="false")  Blind Spot pt.1
    li.label#blindSpot2
      a(href='/canvas/blindSpot2' data-ajax="false")  Blind Spot pt.2
    //- li.label#tactileImages
    //-   a(href='/canvas/tactileImages' data-ajax="false")  Tactile Images 
    //- li.label#imageObject
    //-   a(href='/canvas/imageObject' data-ajax="false")  Image Object 
    li.label#storyTime
      a(href='/canvas/storyTime' data-ajax="false")  Story Time 
    li.label#fabrication
      a(href='/canvas/fabrication' data-ajax="false")  Fabrication 
script(src='http://code.jquery.com/jquery-1.10.2.min.js')
script(type='text/javascript', src='/scripts/nav.js')
