link(href='/styles/nav.css', rel='stylesheet')
link(href='/styles/mobile/nav.css', rel='stylesheet')
a(href='/' data-ajax="false")
  h1#home-link andrea k. macias-ya&#xF1;ez
nav
  ul
    li.label#rebirth
      a(href='/canvas/rebirth' data-ajax="false")  Rebirth 
    li.label#BS
      a(href='/canvas/blindSpot' data-ajax="false")  Blind Spot 
    li.label#BS2
      a(href='/canvas/blindSpot2' data-ajax="false")  Blind Spot #2
    li.label#tactImg
      a(href='/canvas/tactileImages' data-ajax="false")  Tactile Images 
    li.label#imgObj
      a(href='/canvas/imageObject' data-ajax="false")  Image Object 
    li.label#fabrication
      a(href='/canvas/fabrication' data-ajax="false")  Fabrication 
script(src='http://code.jquery.com/jquery-1.10.2.min.js')
script(type='text/javascript', src='/scripts/nav.js')
