link(href='/styles/nav.css', rel='stylesheet')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
header
  h1#home-link akmy
    a(href='/')
nav
  ul#2d
    | ~2d~
    .navDropdownBox
      li#boffo.optionLinks
        a(href='./2d/boffo')  1. BOFFO 
      li#shells.optionLinks
        a(href='./2d/shells')  2. Shells 
      li#screenshot.optionLinks
        a(href='./2d/screentale')  3. Screenshot Tale 
      li#prepscans.optionLinks
        a(href='./2d/prepscans')  4. Object Scans Scanned 
  ul#3d
    | ~3d~
    .navDropdownBox
      li#fruits.optionLinks
        a(href='./3d/fruits')   1. Fruits 
      li#recall.optionLinks
        a(href='./3d/meals&recipes')   2. MEALS & RECIPES
      li#corridor.optionLinks
        a(href='./3d/corridor')   3. Corridor 
      li#reCorridor.optionLinks
        a(href='./3d/re-corridor')   4. re-Corridor 
      li#bathHouse.optionLinks
        a(href='./3d/bathhouse')   5. Bath House 
      div
  ul#fabrication
    | ~ fabrication ~
    .navDropdownBox
      li#bathHouse.optionLinks
        a(href='./fabrication/bathhouse')  1. Bath House  
      li#groupShow.optionLinks
        a(href='./fabrication/groupshow')  2. Group Show  
      li#lecky.optionLinks
        a(href='./fabrication/leckey')  3. LECKEY
      li#berggren.optionLinks
        a(href='/fabrication/berggren')  4. Berggren  
  ul#3dModels
    | ~ 3d models ~
    .navDropdownBox
      li#fruits.optionLinks
        a(href='./model/fruits')  1. Fruits 
      li#food.optionLinks
        a(href='./model/food')  2. Food  
      li#corridor.optionLinks
        a(href='./model/corridor')  3. Corridor 
      li#recorridor.optionLinks
        a(href='./model/corridor2')  4. re-Corridor  
      li#tablecloth.optionLinks
        a(href='./model/tablecloth')  5. Table Cloth 
  ul#who
    | WHO
    .navDropdownBox
      li#twitter.optionLinks
        a(href='')  Twitter  
      li#tumblr.optionLinks
        a(href='')  Tumblr  
      li#instagram.optionLinks
        a(href='')  Instagram 
script(type='text/javascript', src='/scripts/nav.js')
 
