link(href='/styles/nav.css', rel='stylesheet')
link(href='/styles/mobile/nav.css', rel='stylesheet')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js')
header
  a(href='/')
    h1#home-link akm-y
nav
  ul#2d
    .label ~2d~
    .navDropdownBox
      li#boffo.optionLinks
        a(href='/2d/boffo')  1. BOFFO 
      li#shells.optionLinks
        a(href='/2d/shells')  2. Shells 
      li#screentale.optionLinks
        a(href='/2d/screentale')  3. Screenshot Tale 
      li#prepscan.optionLinks
        a(href='/2d/prepscan')  4. Object Scans Scanned 
  ul#3d
    .label  ~3d~
    .navDropdownBox
      li#fruits.optionLinks
        a(href='/3d/fruits')   1. Fruits 
      li#meals-recipes.optionLinks
        a(href='/3d/meal-recipes') 2. MEAL & RECIPES
      li#corridor.optionLinks
        a(href='/3d/corridor')  3. Corridor 
      li#re-corridor.optionLinks
        a(href='/3d/re-corridor')  4. re-Corridor 
      li#bathhouse.optionLinks
        a(href='/3d/bathhouse')   5. Bath House 
  ul#fabrication
    .label ~ fabrication ~
    .navDropdownBox
      li#bathhouse.optionLinks
        a(href='/fabrication/bathhouse')  1. Bath House  
      li#groupshow.optionLinks
        a(href='/fabrication/groupshow')  2. Group Show  
      li#leckey.optionLinks
        a(href='/fabrication/leckey')  3. LECKEY
      li#berggren.optionLinks
        a(href='/fabrication/berggren')  4. Berggren  
  ul#3dModels
    .label ~ 3d models ~
    .navDropdownBox
      li#fruits.optionLinks
        a(href='/model/fruits')  1. Fruits 
      li#food.optionLinks
        a(href='/model/food')  2. Food  
      li#corridor.optionLinks
        a(href='/model/corridor')  3. Corridor 
  ul#who
    .label  WHO
    .navDropdownBox
      li#twitter.optionLinks
        a(href='')  Twitter  
      li#tumblr.optionLinks
        a(href='')  Tumblr  
      li#instagram.optionLinks
        a(href='')  Instagram 
  script(type='text/javascript', src='/scripts/nav.js')

 
