link(href='/styles/nav.css', rel='stylesheet')
link(href='/styles/mobile/nav.css', rel='stylesheet')
a(href='/' data-ajax="false")
  h1#home-link akm-y
nav
  ul#2d
    .label ~2d~
    .navDropdownBox
      li#boffo.optionLinks
        a(href='/2d/boffo' data-ajax="false")  BOFFO 
      li#prepscan.optionLinks
        a(href='/2d/prepscan' data-ajax="false")  Prep Scans
      li#shells.optionLinks
        a(href='/2d/shells' data-ajax="false")  Shells 
      li#screentale.optionLinks
        a(href='/2d/screentale' data-ajax="false")  Screen Tale 
  ul#3d
    .label  ~3d~
    .navDropdownBox
      li#bathhouse.optionLinks
        a(href='/3d/bathhouse' data-ajax="false")   Rebirth of the Bath House
      li#corridor.optionLinks
        a(href='/3d/corridor' data-ajax="false")  Corridor 
      li#re-corridor.optionLinks
        a(href='/3d/reCorridor' data-ajax="false")  re-Corridor 
      li#fruits.optionLinks
        a(href='/3d/fruits' data-ajax="false")   Fruits 
      li#meals-recipes.optionLinks
        a(href='/3d/meal-recipes' data-ajax="false")  MEALS & RECIPES
  ul#3dModels
    .label ~ 3d models ~
    .navDropdownBox
      li#food.optionLinks
        a(href='/model/food' data-ajax="false")  Food  
      li#corridor.optionLinks
        a(href='/model/corridor' data-ajax="false")  Corridor 
      li#fruits.optionLinks
        a(href='/model/fruits' data-ajax="false")  Fruits 
      li#corridor2.optionLinks 
        a(href='/model/corridor' data-ajax="false")  Corridor.2
      li#tablecloth.optionLinks 
        a(href='/model/corridor' data-ajax="false")  Table Cloth
  ul#fabrication
    .label ~ fabrication ~
    .navDropdownBox
      li#bathhouse.optionLinks
        a(href='/fabrication/bathhouse' data-ajax="false")  Rebirth of the Bath House  
      li#groupshow.optionLinks
        a(href='/fabrication/groupshow' data-ajax="false")  Group Show  
      li#leckey.optionLinks
        a(href='/fabrication/leckey' data-ajax="false")  A Month in Making
      li#berggren.optionLinks
        a(href='/fabrication/berggren' data-ajax="false")  Previlege & Melancholy
  ul#who
    .label  WHO
    .navDropdownBox
      li#twitter.optionLinks
        a(href='http://untitled00001.tumblr.com/')  hoarding
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(type='text/javascript', src='/scripts/nav.js')

 
