#preview-rebirth.preview-wrapper
  span#IMG_bathhouse.imageOverlay
    img(src='./images/preview/3d/13_Bath.jpg')
#preview-BS.preview-wrapper
  span#IMG_BlindSpot.imageOverlay
    img(src='./images/preview/3d/2_Iteration.png')
#preview-BS2.preview-wrapper
  span#IMG_BlindSpot2.imageOverlay
    img(src='./images/preview/3d/1_Bit_Thumbnail.png')    
#preview-tactImg.preview-wrapper
  span#IMG_virtual-flavor.imageOverlay
    img(src='./images/preview/3d/4_Apron_Thumbnail.png')
#preview-imgObj.preview-wrapper
  span#IMG_tamago.imageOverlay
    img(src='./images/preview/model/0_Tamago_Thumbnail.png')
  span#IMG_corridor.imageOverlay
    img(src='./images/preview/model/2_Iteration.png')
  span#IMG_fruitsModel.imageOverlay
    img(src='./images/preview/model/4_Pesticides.jpg')
#preview-fabrication.preview-wrapper
  span#IMG_rebirth.imageOverlay
    img(src='./images/preview/fabrication/7_Bath.jpg')
  span#IMG_leckey.imageOverlay
    img(src='./images/preview/fabrication/2_Thing.jpg')
  span#IMG_berggren.imageOverlay
    img(src='./images/preview/fabrication/2_Bucket.jpg')
  
