#preview-2d.preview-wrapper
  span#IMG_boffo.imageOverlay.highlightSelection
    img(src='./images/preview/2d/DF-Performance-Poster.jpg')
  span#IMG_prepscan.imageOverlay
    img(src='./images/preview/2d/0_Plate_Thumbnail.png')
  span#IMG_shells.imageOverlay
    img(src='./images/preview/2d/Q-Bit.jpg')
  span#IMG_screentale.imageOverlay
    img(src='./images/preview/2d/1_Cad.png')
#preview-3d.preview-wrapper
  span#IMG_bathhouse.imageOverlay
    img(src='./images/preview/3d/13_Bath.jpg')
  span#IMG_BlindSpot.imageOverlay
    img(src='./images/preview/3d/2_Iteration.png')
  span#IMG_BlindSpot2.imageOverlay
    img(src='./images/preview/3d/1_Bit_Thumbnail.png')
  span#IMG_fruits.imageOverlay
    img(src='./images/preview/3d/2_Apfel_Berry.jpg')
  span#IMG_virtual-flavor.imageOverlay
    img(src='./images/preview/3d/4_Apron_Thumbnail.png')
#preview-fabrication.preview-wrapper
  span#IMG_rebirth.imageOverlay
    img(src='./images/preview/fabrication/7_Bath.jpg')
  span#IMG_leckey.imageOverlay
    img(src='./images/preview/fabrication/2_Thing.jpg')
  span#IMG_berggren.imageOverlay
    img(src='./images/preview/fabrication/2_Bucket.jpg')
#preview-3dModels.preview-wrapper
  span#IMG_tamago.imageOverlay
    img(src='./images/preview/model/0_Tamago_Thumbnail.png')
  span#IMG_corridor.imageOverlay
    img(src='./images/preview/model/2_Iteration.png')
  span#IMG_fruitsModel.imageOverlay
    img(src='./images/preview/model/4_Pesticides.jpg')
