#preview-2d.preview-wrapper
  span#IMG_boffo
    img(src='./images/fujifilm/FH000003.JPG')
  span#IMG_shells
    img(src='./images/fujifilm/FH000031.JPG')
  span#IMG_screenshot
    img(src='./images/fujifilm/FH000005.JPG')
  span#IMG_scans
    img(src='./images/fujifilm/FH000032.JPG')
  span
    img(src='./images/fujifilm/FH000016.JPG')
#preview-3d.preview-wrapper
  span#IMG_fruits
    img(src='./images/scans/22_TAMAGO1.jpg')
  span#IMG_recall
    img(src='./images/scans/23_laser_base_1.jpg')
  span#IMG_corridor
    img(src='./images/scans/23_Stairs_v2.jpg')
  span#IMG_reCorridor
    img(src='./images/scans/24_projection_1.jpg')
  span#IMG_bathHouse
    img(src='./images/fujifilm/FH000031 2.JPG')
#preview-fabrication.preview-wrapper
  span#IMG_bathHouse
    img(src='./images/fujifilm/FH000003.JPG')
  span#IMG_groupShow
    img(src='./images/fujifilm/FH000031.JPG')
  span#IMG_monthMaking
    img(src='./images/fujifilm/FH000005.JPG')
  span#IMG_berggren
    img(src='./images/fujifilm/FH000032.JPG')
  span#IMG_reCorridor
    img(src='./images/fujifilm/FH000016.JPG')
#preview-3dModels.preview-wrapper
  span#IMG_fruits
    img(src='./images/fujifilm/FH000003.JPG')
  span#IMG_recall
    img(src='./images/fujifilm/FH000031.JPG')
  span#IMG_corridor
    img(src='./images/fujifilm/FH000005.JPG')
  span#IMG_reCorridor
    img(src='./images/fujifilm/FH000032.JPG')
  span#IMG_bathHouse
    img(src='./images/fujifilm/FH000016.JPG')
#preview-who.preview-wrapper
  span#IMG_twitter
    img(src='./images/fujifilm/FH000003.JPG')
  span#IMG_tumblr
    img(src='./images/fujifilm/FH000031.JPG')
  span#IMG_instagram
    img(src='./images/fujifilm/FH000005.JPG')
