link(href='/styles/sliderCtrl.css', rel='stylesheet')
section#ctrl-Wrapper
  span#left-arrow.img-Ctrl(data-value='left')  ← 
  span#right-arrow.img-Ctrl(data-value='right')  → 
  //- #img-Slider
  //-   span.range 0 %
  //-   input(type='range', min='75', max='175', value='100', data-role="none")
  //-   span.range 100 %
  //-   link(href='/styles/sliderCtrl.css', rel='stylesheet')
section#sp-ctrl-Wrapper
  .ctrl-Content
    span#sp-left-arrow.img-Ctrl(data-value='left') ←
    span#sp-showText T
    span#sp-right-arrow.img-Ctrl(data-value='right') →
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
script(type='text/javascript', src='/scripts/slideshow.js')
