@import "../commons/font.css";

.panel{
  z-index: 15;
  background: linear-gradient(rgba(0,0,255, 1), rgba(255,255,255, 1));
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.close{
  max-width: 0;
  visibility: hidden;
}

.panelContent img{
  width: 25%;
  float: right;
  margin: 2em;
}

.panelContent {
   color: #FFFFFF;
   font-family: "Times New Roman", TimesNewRomanItalic, Serif;
   font-style: italic;
   font-size: 1.5em;
}

.aboutText{
  font-size: .7em;
  width: 60%;
  top: 20%;
  left: 4em;
  position: fixed;
}
.aboutText a{
  color:  #FFFFFF;
  float: right;
  cursor: pointer;
}
p.title{
  display: inline-block;
  width: 65%;
  margin-bottom: 0;
  font-size: .7em;
}
p.email{
  display: inline-block;
}
p.footnote{
  font-size: .7em;
}

.contactIcon{
  position: relative;
  top: -12px;
  right: -17px;
  font-size: 36px !important;
}
@media(min-width: 768px){
  #aboutME{
    display: none;
  }
}
@media(max-width: 768px){
  #aboutME{
    color: #0000FF;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: -1.2em;
    margin: 0;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    font-family: "Times New Roman", TimesNewRomanBoldItalic , Serif;
    letter-spacing: 9px;
    text-decoration: none;
    text-shadow: 0px 2px 4px rgba(0,0,0,.5);
    z-index: 20;
  }
}
