@media(max-width: 768px){
  nav{
    height: 100%;
    width: 100%;
    position: absolute;
    display:none;
  }
  #homePage nav{
    top:0;
    display:initial;
  }
  #home-link{
    display: none !important;
  }
  ul{
    padding: 0;
    max-width: 220px;
    display: block;
    margin: auto;
    margin-bottom: calc(12vh - 40px);
  }
  #homePage nav ul:first-of-type{
    margin-top: initial;
  }
  li:first-of-type{
    margin-top: 5em;
  }
  li{
    margin-bottom: 3em;
  }
  li:hover{
    -webkit-box-shadow: 2px 4px 5px 0px rgba(190,190,190,1);
    -moz-box-shadow: 2px 4px 5px 0px rgba(190,190,190,1);
    box-shadow: 2px 4px 5px 0px rgba(190,190,190,1);
  }
  .label{
    background: -webkit-linear-gradient(white, #D3D3D3);
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    letter-spacing: 3px;
  }
}
