@import "../commons/font.css";

@media(max-width: 768px){
  body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(#F8E71C, rgba(255,255,255, 0));
  }
  .mobile{
    display: inherit;
  }
  .activeTab{
    text-decoration: underline;
    font-style: italic;
  }
  div.subNav{
    display: block;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 40px;
    white-space: nowrap;
  }
  div.subNav span a:first-of-type{
    margin-left: 2em;
  }
  div.subNav span a{
    font-size: 14px;
    text-decoration: none;
    margin-right: 2em;
    line-height: 40px;
  }
  h1.category{
    font-family: "Times New Roman",  TimesNewRomanItalic , Serif;
    font-style: italic;
    font-size: 1.1em;
    font-weight: 400;
    color: #0000FF;
    text-decoration: none;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 10%;
    letter-spacing: 3px;
  }
  #content-wrapper{
    margin: auto;
    width: 80%;
    height: 85vh;
    overflow: hidden;
    background: white;
    border: 1px dotted grey;
  }
  .model-content{
    height: calc(100% - 40px);
  }
  .model-content p{
    margin: 0;
    width: 200px;
    z-index: 3;
    top: 15vh;
  }
  .model-content p.mobile-text{
    display: inherit;
  }
  .project-content{
    height: calc(100% - 40px);
  }
  .project-content div{
    border: none;
    position: relative;
  }
  .project-images{
    height: 70vh; 
    white-space: nowrap;
    text-align: center;
  }
  .helper{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .project-images img,
  .project-images object{
    vertical-align: middle;
    display: none;
  }
  div.sideLinkPanel{
    position: fixed;
    width: 10%;
    right: 0;
    top: 25%;
  }
  .ext-links{
    color: rgb(0,0, 255);
    margin: 1em;
    text-shadow: 0px 2px 4px rgba(0,0,0,.5);
  }
  .ext-links .material-icons{
    font-size: 20px !important;
    margin-bottom: 1em;
  }

  .modal-layer{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display:none;
    background: rgba(243,243, 243, .8);
    background-image: linear-gradient(rgba(216,216,216,0),rgba(216,216,216,1) 50%);
  }
  section.text-overlay{
    top: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    position: absolute;
  }
  .text-content{
    overflow: scroll;
    border: 1px dotted grey;
    position: relative;
    width: 80%;
    height: 80vh;
    top: 80px;
    padding: 10px;
    padding-top: 1em;
    box-sizing: border-box;
    background: white;
    margin: auto;
    font-family: "Times New Roman",  TimesNewRoman , Serif;
  }
  .greymode{
    background: rgba(216,216,216, 1);
  }
  .blurmode{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }
  .text-italic{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
  }
  .text-info{
    font-size: 18px;
    line-height: 1.5em;
    margin: 2em 1em;
  }
  .activeSpan a{
    font-style: italic;
    text-decoration: underline !important;
    color: #551A8B;
  }

  #hamburger{
    font-size: 27px !important;
    height: 40px;
    line-height: 40px;
  }
  .layover{
    position: absolute;
    z-index: 100;
    background: linear-gradient(#F8E71C, rgba(255,255,255, 1));
  }
  .project-images{
    display:none;
  }
  .foreground{
    display:block;
  }
  .portrait img,
  .portrait object{
    height: 95vh;
  }
  .img-modal.landscape img,
  .img-modal.landscape object{
    width: 100%;
  }
  .closeModal{
    margin: 10px;
    font-size: 36px !important;
    z-index: 25;
    position: fixed;
    right: 0;
  }
  #textBox,
  header,
  section.text-overlay,
  .cross,
  footer,
  p.desktop-text{
    display: none;
  }

}
