html
  head 
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='Andrea Macias-Ya&#xF1;ez ')
    meta(name='description', content='Design Portfolio')
    meta(name='og:title', content="Selected projects")
    meta(name='og:description', content='Design Portfolio of Andrea Macias-Ya&#xF1;ez')
    meta(name="og:image" content="/favicon/Black.png")
    meta(name="og:url" content="http://akm-y.com")
    title=AKMY
    link(href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/styles/works.css')
    link(rel="icon" type="image/png" href="/favicon/Black.png")
  body#home
    .name Andrea Macias-Ya&#xF1;ez
    a#cv(href="mailto:amacias.y@gmail.com?Subject=Hey%20hey" target="_top") Get in Touch
    img#catepillar(src="/06ed85d5ff42e5c1575a580b05dcbcf1.png")
    .projectLinks
      a(href="projects/Ocean_Archive") UX/UI Platform
      a(href="projects/GCAGT") UX/UI Website
      a(href="projects/Graphic_Design_Branding") Graphic Design & Branding
      a(href="projects/Spatial_Design") Spatial Design
