html
  head 
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    title=AKMY
    link(href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet")

    link(rel='stylesheet', href='/styles/works.css')

  body
    .name Andrea Macias-Ya&#xF1;ez
    .projectLinks
      a(href="projects/Ocean_Archive") UX/UI Platform
      a(href="projects/GCAGT") UX/UI Website
      a(href="projects/Graphic_Design_Branding") Graphic Design & Branding
      a(href="projects/Spatial_Design") Spatial Design
