link(href='/styles/scrolltest.css', rel='stylesheet')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
link(rel='stylesheet', href='./styles/scrolltest.css')
header
  a(href='/')
    h1#home-link akmy

  span#IMG_fruits
    img(src='./images/scans/22_TAMAGO1.jpg')
  p.
    Our predilection for saving,archiving and inability to forget has become an energy burden on the earth. There is an increasing need to store and maintain our data in the cloud no matter how inconsequential it may be. This project argues that the intensity of server heat can be sent to bathhouses to be used as primary sources of heat. Water collected from showers and baths can then be recycled and used to cool the servers by drawing heat and then use it as a radiant heat source. In the bathhouse the servers are encased in glass as though in
  span#IMG_recall
    img(src='./images/scans/23_laser_base_1.jpg')
  span#IMG_corridor
    img(src='./images/scans/23_Stairs_v2_blank.png')
  p.
    then be recycled and used to cool the servers by drawing heat and then use it as a radiant heat source. In the bathhouse the servers are encased in glass as though in vitrine, the vitrine draws attention to the problem which is most fundamental. Even in its most reduced form, information,

  span#IMG_reCorridor
    img(src='./images/scans/24_projection_1.jpg')
  p.
    which we once very recently considered to be immaterial and light can be turned into an object which is heavy and emits energy just as our bodies do. Through the act of saving our information, communication becomes energy and capital. But this process mostly hidden from view, the data centers are in the north or on ships in the ocean concealing from view our waste material and energy. This building reveals that even something as basic as water can directly be turned into energy and is a

  span#IMG_bathHouse
    img(src='./images/fujifilm/FH000031 2.JPG')
