script(src='http://code.jquery.com/jquery-1.10.2.min.js')
script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
body
  div
    h1 hoge hoge hoge 
  script. 
    $('body').on('swipeleft',function(){
        console.log('swipe left _-__ ')
    });
    $('body').on('swiperight',function(){
        console.log('swipe right _-__ ')
    });
