doctype html
html(lang='en')
  head
    title three.js webgl - OBJLoader + MTLLoader
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='./styles/threeCanvas.css')
  body
    #info
      a(href='http://threejs.org', target='_blank') three.js
      |  - OBJLoader + MTLLoader
    script(src='./scripts/threejs/three.js')
    script(src='./scripts/threejs/loaders/DDSLoader.js')
    script(src='./scripts/threejs/loaders/MTLLoader.js')
    script(src='./scripts/threejs/loaders/OBJLoader.js')
    script(src='./scripts/threejs/Detector.js')
    script(src='./scripts/threejs/stats.min.js')
    script(src='./scripts/threejs/loadLeaf.js')
