<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - OBJLoader + MTLLoader</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>

		</style>
	</head>

	<body>
		<div id="info">
		<a href="http://threejs.org" target="_blank">three.js</a> - OBJLoader + MTLLoader
		</div>
		<script src="./scripts/threejs/three.js"></script>

		<script src="./scripts/threejs/loaders/DDSLoader.js"></script>
		<script src="./scripts/threejs/loaders/MTLLoader.js"></script>
		<script src="./scripts/threejs/loaders/OBJLoader.js"></script>

		<script src="./scripts/threejs/Detector.js"></script>
		<script src="./scripts/threejs/stats.min.js"></script>
		<script src="./scripts/threejs/loadLeaf.js"></script>
	</body>
</html>
