<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/styles/main.css" />
  <link rel="stylesheet" href="../../assets/styles/mobile.css" />
  <title>AKMY</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="../../assets/scripts/main.js"> </script>
  <script type="text/javascript" src="../../assets/scripts/modernizr.js"> </script>
  <script type="text/javascript" src="../../assets/scripts/dynamicpage.js"> </script>

</head>
<body>
<div id="page-wrap">
  <nav>
    <ul id="2d"> ~2d~
      <div>
       <li class="optionLinks" id="boffo">
         <a href="/views/2d/boffo.html"> 1. BOFFO </a>
       </li>
       <li class="optionLinks" id="shells">
         <a href="/views/2d/shells.html"> 2. Shells </a>
       </li>
       <li class="optionLinks" id="screenshot">
         <a href="/views/2d/screenshot.html"> 3. Screenshot Tale </a>
       </li>
       <li class="optionLinks" id="scans">
         <a href="/views/2d/objectScans.html"> 4. Object Scans Scanned </a>
       </li>
      </div>
    </ul>

    <ul id="3d"> ~3d~
      <div>
       <li value="fruits"> 1. Fruits </li>
       <li value="recall"> 2. Recall Food </li>
       <li value="corridor"> 3. Corridor </li>
       <li value="recorridor"> 4. re-Corridor </li>
       <li value="bathhouse"> 5. Bath House </li>
      <div>
    </ul>

    <ul id="3dModels">   ~3d models ~
      <div>
       <li value="fruits">1. Fruits</li>
       <li value="food">2. Food </li>
       <li value="corridor">3. Corridor</li>
       <li value="recorridor">4. re-Corridor </li>
       <li value="tablecloth">5. Table Cloth</li>
     </div>
    </ul>
    <ul id="fabrications">   ~ fabrications ~
      <div>
       <li value="">Saab</li>
       <li value="">Mercedes</li>
       <li value="">Audi</li>
     </div>
    </ul>
    <ul id="who">  WHO
      <div>
       <li value=""> WHO </li>
       <li value="">Saab</li>
       <li value="mercedes">Mercedes</li>
       <li value="audi">Audi</li>
      </div>
    </ul>
  </nav>

    <section id="content-wrapper">
      <div id="content">
        <h1>  1. BOFFO </h1> 
      </div>
    </section>
  </div>
</body>
</html>
