
<section id="content-wrapper">
  <div id="content" class="project-wrapper">
    <script type="text/javascript" src="../scripts/project2d.js"> </script>
    <h1>  1. BOFFO </h1>
    <form action="demo_form.asp">
      <input type="checkbox" name="" value="who" > for who?
      <input type="checkbox" name="" value="role" checked> role
      <input type="checkbox" name="" value="info"> description
      <input type="checkbox" name="" value="links"> external links
    </form>
    <section id="content-Boffo" class="project-content">
      <div class="moneyShot">
        <img src ="../images/posters/7_Poster_750_1.jpg"> </img>
      </div>
      <div class="md-portrait">
        <svg class="cross">
            <line x1="0" y1="100%" x2="100%" y2="0"/>
            <line x1="0" y1="0" x2="100%" y2="100%"/>
        </svg>
      </div>
      <div class="md-square">
        <svg class="cross">
          <line x1="0" y1="100%" x2="100%" y2="0"/>
          <line x1="0" y1="0" x2="100%" y2="100%"/>
        </svg>
      </div>
      <div class="md-landscape">
        <svg class="cross">
            <line x1="0" y1="100%" x2="100%" y2="0"/>
            <line x1="0" y1="0" x2="100%" y2="100%"/>
        </svg>
      </div>
    </section>

    <section id="ctrl-Wrapper">
      <span id="left-arrow" data-value="left" class="img-Ctrl"> &#8592; </span>
      <span id="right-arrow" data-value="right" class="img-Ctrl"> &#8594; </span>
      <div id="img-Slider">
        <span class="range">0 %</span>
        <input type="range"  min="0" max="100" value="50"/>
        <span class="range">100 %</span>
      </div>
    </section>
  </div>
</section>
