
<section id="content-wrapper">
  <div id="content" class="project-wrapper">
    <script type="text/javascript" src="../scripts/project2d.js"> </script>
    <header>
      <h1>  1. BOFFO </h1>
      <form action="demo_form.asp">
        <input type="checkbox" name="" value="who" > for who?
        <input type="checkbox" name="" value="role"> role
        <input type="checkbox" name="" value="info"> description
        <input type="checkbox" name="" value="links"> external links
      </form>
    </header>
    <section id="content-Boffo" class="project-content">
      <div class="foreground">
        <img src ="../images/posters/7_Poster_750_1.jpg"> </img>
        <svg class="cross">
            <line x1="0" y1="100%" x2="100%" y2="0"/>
            <line x1="0" y1="0" x2="100%" y2="100%"/>
        </svg>
      </div>
      <div>
        <img src ="../images/posters/7_Poster_750_3.jpg"> </img>
        <svg class="cross">
            <line x1="0" y1="100%" x2="100%" y2="0"/>
            <line x1="0" y1="0" x2="100%" y2="100%"/>
        </svg>
      </div>
      <div>
        <img src ="../images/posters/7_Poster_750_4.jpg"> </img>
        <svg class="cross">
          <line x1="0" y1="100%" x2="100%" y2="0"/>
          <line x1="0" y1="0" x2="100%" y2="100%"/>
        </svg>
      </div>
      <div>
        <img src ="../images/posters/7_Poster_750_5.jpg"> </img>
        <svg class="cross">
            <line x1="0" y1="100%" x2="100%" y2="0"/>
            <line x1="0" y1="0" x2="100%" y2="100%"/>
        </svg>
      </div>
      <div>
        <img src ="../images/posters/7_Poster_750_10.jpg"> </img>
        <svg class="cross">
            <line x1="0" y1="100%" x2="100%" y2="0"/>
            <line x1="0" y1="0" x2="100%" y2="100%"/>
        </svg>
      </div>
    </section>
    <section class="info-Wrapper">
      <div class="text-Box-who"> AI, ID, PSD </div>
      <div class="text-Box-role"> Graphic Designer </div>
      <div class="text-Box-info">these posters were designed for a purpose, they were passed around and hung up and passed on and thrown away, some these posters were designed for a purpose, they were passed around and hung up and passed on and thrown away, somethese posters were designed for a purpose, they were passed around and hung up and passed</div>
      <div class="text-Box-links">www.boffo-ny.org </div>
    </section>
    <section id="ctrl-Wrapper">
      <span id="left-arrow" data-value="left" class="img-Ctrl"> &#8592; </span>
      <span id="right-arrow" data-value="right" class="img-Ctrl"> &#8594; </span>
      <div id="img-Slider">
        <span class="range">0 %</span>
        <input type="range"  min="0" max="100" value="50"/>
        <span class="range">100 %</span>
      </div>
    </section>
  </div>
</section>
