html
  head 
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    title=AKMY
    link(rel='stylesheet', href='/styles/works.css')
    link(rel="icon" type="image/svg+xml" href="/favicon/V3-01.svg")

  body.projectPage
    a(href="/")#home.name Andrea Macias-Ya&#xF1;ez
    each imgUrl in prjFiles
      img(src=imgUrl)
