html
  head 
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='Andrea Macias-Ya&#xF1;ez ')
    meta(name='description', content='Design Portfolio')
    meta(name='og:title', content="Selected projects")
    meta(name='og:description', content='Design Portfolio of Andrea Macias-Ya&#xF1;ez')
    meta(name='og:image', content='/favicon/Black.png')
    meta(name='og:url', content='http://akm-y.com')
    title=AKMY
    link(href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/styles/works.css')
    link(rel="icon" type="image/png" href="/favicon/Black.png")
  body.projectPage
    a(href="/")#home.name Andrea Macias-Ya&#xF1;ez
    each imgUrl in prjFiles
      img(src=imgUrl)
