@import "commons/animation.css";
@import "commons/fonts.css";

@media(min-width: 768px){
  #spinLogo{
    display: none;
  }
}

@media(max-width: 768px){
  #home-link{
    display: none !important;
  }
  #spinLogo{
    position: relative;
    margin-left: 2em;
    width: 50%;
    font-family: "Times New Roman", TimesNewRomanItalic, Serif;
    font-style: italic;
    font-weight: 400;
    font-size: 36px !important;
    color: #0000FF;
    text-decoration: none;
    margin-top: 1em;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 20000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: spin;
    -moz-animation-duration: 20000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-name: spin;
    -ms-animation-duration: 20000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
    -o-transition: rotate(3600deg);
    z-index: -1;
    animation-direction: alternate;
  }
  #spinLogo:after{
    content: ' ';
    background: #F8E71C;
    top: -30px;
    left: -120px;
    position: absolute;
    width: 180%;
    height: 230%;
    border-radius: 50%;
    display: block;
    z-index: -5;
    -webkit-filter: blur(35px);
    -moz-filter: blur(35px);
    -o-filter: blur(35px);
    -ms-filter: blur(35px);
    filter: blur(35px);
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
}


body{
  background: #FFFFFF;
  overflow: hidden;
}
header{
  height: 0;
}
