@media(max-width: 768px){
  #home-link{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 20000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: spin;
    -moz-animation-duration: 20000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-name: spin;
    -ms-animation-duration: 20000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
    -o-transition: rotate(3600deg);
    z-index: -1;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    animation-direction: alternate;
  }
}


body{
  background: #FFFFFF
}


@-moz-keyframes spin {
    0% {
      -moz-transform:rotate(-35deg);
      top:30vw;
      left:50vw;
    }
    33% {
      -moz-transform:rotate(0deg);
      top:70vw;
      left:10vw;

    }
    66% {
      -moz-transform:rotate(360deg);
      top: 10vw;
      left: 85vw;
    }
    80% {
      -moz-transform:rotate(90deg);
      top: 95vw;
      left: 90vw;

    }
    100% {
      -moz-transform:rotate(0deg);
      top:30vw;
      left:50vw;
    }
}

@-webkit-keyframes spin {
    0% {
      -webkit-transform:rotate(-35deg);
      top:30vw;
      left:50vw;
    }
    33% {
      -webkit-transform:rotate(0deg);
      top:70vw;
      left:10vw;

    }
    66% {
      -webkit-transform:rotate(360deg);
      top: 10vw;
      left: 85vw;
    }
    80% {
      -webkit-transform:rotate(90deg);
      top: 95vw;
      left: 90vw;

    }
    100% {
      -webkit-transform:rotate(0deg);
      top:30vw;
      left:50vw;
    }
}
@keyframes spin {
  0% {
    transform:rotate(-35deg);
    top:30vw;
    left:50vw;
  }
  33% {
    transform:rotate(0deg);
    top:70vw;
    left:10vw;

  }
  66% {
    transform:rotate(360deg);
    top: 10vw;
    left: 85vw;
  }
  80% {
    transform:rotate(90deg);
    top: 95vw;
    left: 90vw;

  }
  100% {
    transform:rotate(0deg);
    top:30vw;
    left:50vw;
  }
}
