select {
  background: rgb(243,243,243);
}
select:before{
  background-image: -webkit-linear-gradient(top,#fff,hsla(0,0%,100%,0));
}

ul{
    display: inline-block;
    vertical-align: top;
    background: rgb(243,243,243);
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    text-rendering: auto;
    display: inline-block;
    text-align: start;
    font: 11px BlinkMacSystemFont;
    -webkit-writing-mode: horizontal-tb;
    width: 120px;
    height: 20px;
    margin-right: 8em;
}
ul div{
  display: none;
  border: solid 1px grey;
  width: 150px;
  background: white;
  border-radius: 5px;
  padding: 0 15px;
  box-shadow: inset 0 0 2px grey;
  left: 5px;
  position: relative;
  top: -20px;
  overflow: auto;
}
li{
  cursor: pointer;
  list-style: none;
}
#preview-2d{
  display: none;
}

#preview-2d > span > img {
  width: 50%;
}
.highlightSelection{
  filter: none !important;
  -webkit-filter: none !important;
  z-index: 10;
  opacity: 1;
}
.highlightSelection:after{
  content: ' ';
  opacity:1;
  background: #F8E71C;
  top: -50px;
  left: -50px;
  position: absolute;
  width: 35%;
  height: 100%;
  border-radius: 50%;
  z-index: -5;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
#highlightGlow{
  background: #F8E71C;
  width: 100px;
  height: 100px;
  top: 50px;
  right: 50px;
  position: relative;
  border-radius: 50px;
}
li{
  display: block;
  float: left;
  width: 100%;
  cursor: pointer;
}
li a{
  text-decoration: none;
  color: black;
}
.selectedLink{
  background: gold;
}
li:hover{
  background: gold;
}
.imageOverlay{
  position: absolute;
  -webkit-filter: grayscale(80%) opacity(50%); /* Chrome, Safari, Opera */
  filter: grayscale(80%) opacity(50%);
  z-index: -2;
}

.position1{
  left: 188px;
  top: 326px;
}


.position2{
  left: 479px;
  top: 258px;
}

.position3{
  left: 333px;
  top: 392px;
}

.position4{
  left: 659px;
  top: 424px;
}
