#content-wrapper{
}
#content.project-wrapper{
  position: relative;
}

.preview-wrapper{
  margin-top: 10em;
  z-index: -5;
}
.preview-wrapper > span{
  width: 100%;
}

.preview-wrapper img{
  image-orientation: initial;
  width: 25%;
}
.preview-wrapper span:nth-of-type(2) img{
  width: 20%;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.preview-wrapper span:nth-of-type(3) img{
  width: 35%;
}
.highlightSelection{
  filter: none !important;
  -webkit-filter: none !important;
  z-index: 10;
  opacity: 1;
}

.highlightSelection:after{
  content: ' ';
  opacity:1;
  background: #F8E71C;
  top: -50px;
  left: -50px;
  position: absolute;
  width: 21%;
  height: 100%;
  border-radius: 50%;
  z-index: -5;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
#highlightGlow{
  background: #F8E71C;
  width: 100px;
  height: 100px;
  top: 50px;
  right: 50px;
  position: relative;
  border-radius: 50px;
}

.imageOverlay{
  position: absolute;
  -webkit-filter: grayscale(80%) opacity(50%); /* Chrome, Safari, Opera */
  filter: grayscale(80%) opacity(50%);
  z-index: -2;
}
header h1{
  text-decoration: underline;
}

.navMenu{
  color: rgb(0,0,255);
  width: 100%;
  text-align: center;
}
.md-36{
  font-size: 36px !important;
}

@media(min-width: 768px){
  .mobile{
    display: none !important;
  }
}
