#home-link{
  font-size: 24px;
  font-family: "Times New Roman", Georgia, Serif;
  font-style: italic;
  color: #0000FF;
  text-decoration: none;
  margin-top: 1em;
  font-weight: 400;
  cursor: alias;
}
#home-link:after{
  content: ' ';
  background: #F8E71C;
  top: -10px;
  left: -21px;
  position: absolute;
  width: 10%;
  height: 8%;
  border-radius: 50%;
  display: block;
  z-index: -5;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
ul{
    display: inline-block;
    vertical-align: top;
    margin-right: 3em;
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
}
ul:last-of-type{
  margin-right: 0;
}

nav ul .label{
  background: rgb(243,243,243);
  -webkit-appearance: menulist;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: black;
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-rendering: auto;
  text-align: start;
  font: 11px BlinkMacSystemFont;
  -webkit-writing-mode: horizontal-tb;
  width: 120px;
  height: 20px;
  position: relative;
  z-index: 3;
}
.navDropdownBox{
  top: -10px;
  padding-top: 14px;
  display: none;
  border: solid 1px grey;
  background: white;
  border-radius: 5px;
  box-shadow: inset 0 0 2px grey;
  left: 10px;
  position: relative;
  overflow: auto;
  width: 165px;
}
li{
  cursor: pointer;
  list-style: none;
  display: block;
  float: left;
  width: 100%;
  line-height: 22px;
  padding: 4px;
}
li a{
  text-decoration: none;
  color: black;
}
.selectedLink{
  background: gold;
}
li:hover{
  background: gold;
}
