@import "commons/font.css";
.ui-loader {
  display:none !important;
}
.ui-focus {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}
#home-link{
  left: 2em;
  font-size: 24px;
  font-family: "Times New Roman", TimesNewRomanBoldItalic , Serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 3px;
  text-shadow: 0px 2px 4px rgba(190,190,190,1);
  color: #0000FF;
  text-decoration: none;
  cursor: alias;
  position: relative;
  display: inline-block;
}

#home-link:after{
  content: ' ';
  background: #F8E71C;
  top: -10vh;
  left: -150px;
  position: absolute;
  width: 200%;
  height: 400%;
  border-radius: 50%;
  display: block;
  z-index: -5;
  -webkit-filter: blur(40px);
  -moz-filter: blur(40px);
  -o-filter: blur(40px);
  -ms-filter: blur(40px);
  filter: blur(40px);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
ul{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  align-items: center;
}

nav ul .label{
  background: white;
  border-radius: 5px;
  text-align: center;
  padding: 0;
  border: solid 1px rgba(190,190,190,1);
  cursor: default;
  /*-webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
  -webkit-rtl-ordering: logical;
  border-radius: 5px;
  /*text-rendering: auto;*/
  /*-webkit-writing-mode: horizontal-tb;*/*/
  position: relative;
  z-index: 3;
}
.label:hover{
  background: -webkit-linear-gradient(white, #D3D3D3);
}
.label span{
  float: right;
  padding-right: 7px;
  font-size: 10px;
}
.navDropdownBox{
  top: -10px;
  padding-top: 14px;
  display: none;
  border: solid 1px grey;
  background: white;
  border-radius: 5px;
  box-shadow: inset 0 0 2px grey;
  left: 10px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  width: 165px;
}
li{
  font-size: 12px;
  cursor: pointer;
  list-style: none;
  display: flex;
  float: left;
  width: 100%;
  line-height: 22px;
  padding-left: 8px;
}
ul a{
  text-decoration: none;
  color: black;
  width: 100%;
  height: 22px;
}
.selectedLink{
  background: gold;
}
li:hover{
  background: gold;
}
.label{
  font-family: "Times New Roman", TimesNewRoman , Serif;
  font-style: italic;
}
@media(min-width: 769px){
  nav{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
  }
  nav ul{
    text-align: left;
    padding: 0;
  }
  nav ul .label{
    position: relative;
    font-style: italic;
    font-size: 12px;
    width: 120px;
    height: 20px;
    text-align: center;
    white-space: pre;
    margin-right: 6em;
  }
  ul:last-of-type{
    margin-right: 0;
  }
  .selectedTopic .label{
    background: -webkit-linear-gradient(white, #D3D3D3);
  }
}
