@import "commons/font.css";


.ui-loader {
  display:none !important;
}
.ui-focus {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}
svg{
  pointer-events: none;
}
header{
  margin-left: 1em;
}
h1{
  text-decoration: underline;
}
.md-portrait{
  width: 375px;
  height: 280px;
  border: 1px dotted grey;
}

.md-landscape{
  width: 275px;
  height: 420px;
  border: 1px dotted grey;
}

.md-square{
  width: 400px;
  height: 400px;
}

.project-content div{
  position: absolute;
  background: white;
  right: 0;
  margin: auto;
  border: 1px dotted grey;
}
.cross{
  width: 100%;
}

@media(min-width: 769px) {
  /*#header-2d{
    position: relative;
    left: calc(100%/5 + 120px);
  }
  #header-3d{
    position: relative;
    left: calc(100%/5 + 120px);
  }
  #header-fabrication{
    position: relative;
    left: calc(100%/5 + 120px);
  }
  #header-model{
    position: relative;
    left: calc(100%/5 + 120px);
  }*/
  nav{
    position: relative;
    z-index: 100;
  }
  header.modelPage {
    position: fixed;
    width: 100%;
    top: 10em;
  }
  header.modelPage  h3{
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 16px;
  }
  form,
  header h3{
    font-family: "Times New Roman", TimesNewRoman , Serif;
    font-size: 14px;
  }
  form{
    font-weight: 700;
    font-style: italic;
  }
  form input{
    margin-left: 14px;
  }
  #content-wrapper{
    top: 9em;
    position: fixed;
  }
  .mobile{
    display: none;
  }

  .project-content div{
    width: 50%;
    left: 20vw;
  }

  .project-content div:nth-of-type(2){
    top: 5%;
    right: 8%;
  }
  .project-content div:nth-of-type(3){
    top: 6%;
    left: 5%;
  }
  .project-content div:nth-of-type(4){
    top: 10%;
    left: 13%;
  }
  .project-content div:nth-of-type(5){
    top: 2%;
    left: 3%;
  }
  .project-content div:nth-of-type(6){
    top: 3%;
    right: 8%;
  }
  .project-content div:nth-of-type(7){
    top: 8%;
    right: 9%;
  }
  .project-content div:last-of-type{
    left: 7%;
    top: 6%;
  }
  .cross{
    height: 400px;
  }
  .project-content{
    height: 80vh;
    width: 70vw;
    left: 25vw;
    position: relative;
    overflow: hidden;
  }
  .model-content{
    height: 70vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .model-content p{
    top: 2vh;
    position: absolute;
    font-size: 20px;
    margin: 2em;
    color: grey;
    font-family: "Times New Roman", TimesNewRomanItalic, Serif;
    font-style: italic;
  }
  section.text-overlay,
  div.subNav,
  div.sideLinkPanel,
  #sp-ctrl-Wrapper{
    display: none;
  }
}
.cross line{
  stroke:grey;
  stroke-width:1;
  stroke-dasharray: 1000;
}

.project-images img{
  width: 100%;
}
.cross:first-of-type line{
  /*stroke-dashoffset: 1000;*/
  /*animation: dash 5s linear alternate infinite;*/
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.foreground{
  z-index: 10;
  display:initial;
}
.foreground  img,
.foreground object{
  display:initial !important;
}
div.infoBox {
  display: none;
  border: solid 1px grey;
  background: white;
  border-radius: 5px;
  box-shadow: inset 0 0 2px grey;
  left: 5px;
  position: relative;
  top: -20px;
  overflow: auto;
  /*z-index: -2;*/
  padding: 8px 12px;
  margin: none;
  font-size: 12px;
}

.project-images img,
.project-images object{
  display:none;
}

.reveal img,
.reveal object{
  border: none;
  display:block !important;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(190,190,190,1);
  -moz-box-shadow: 2px 4px 5px 0px rgba(190,190,190,1);
  box-shadow: 2px 4px 5px 0px rgba(190,190,190,1);
}
.foreground svg.cross,
.reveal svg.cross{
  display: none;
}

.text-links a{
  display: block;
}



body{
  margin: 0;
  font-family: "Times New Roman", TimesNewRoman , Serif;
}
a{
  font-size: 11px;
}
.img-modal{
  display:block;
  position: fixed;
  top: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  background-image: linear-gradient(rgba(216,216,216,.3),rgba(216,216,216,1) 100%);
  background: rgba(255,255, 255, .8);
  overflow-y: scroll;
  overflow-x: hidden;
}
.closeModal{
  right: 0;
  position: fixed;
  margin: 1em;
  color: rgb(0,0,255);
  cursor: pointer;
  text-shadow: 0px 2px 4px rgba(0,0,0,.5);
}
.img-modal.landscape img,
.img-modal.landscape object{
  width: 100vw;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -10;
}
.portrait img,
.portrait object{
  height: 100vh;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.img-modal img,
.img-modal object{
  position: absolute;
}


@media(max-width: 768px) {
  #hamburger{
    font-size: 27px !important;
    height: 40px;
    line-height: 40px;
  }
  .layover{
    position: absolute;
    z-index: 100;
    background: linear-gradient(#F8E71C, rgba(255,255,255, 1));
  }
  .project-images{
    display:none;
  }
  .foreground{
    display:block;
  }
  .portrait img,
  .portrait object{
    height: 95vh;
  }
  .img-modal.landscape img,
  .img-modal.landscape object{
    width: 100%;
  }
  .closeModal{
    margin: 10px;
    font-size: 36px !important;
    z-index: 25;
    position: absolute;
    right: 0;
  }
}
