#existingCluster{
  width: 45vw;
  margin: 0 auto;
}
#iterationCluster{
  width: 35vw;
}
.carousel{
  position: relative;
  width: inherit;
}
.carousel span{
  position: absolute;
}
.carousel div img{
  width: 80%;
}
.carousel .img-Content {
  text-align: center;
}
#project-content{
  position: relative;
  width: 70vw;
  left: 25vw;
}
.img-Ctrl{
  position: relative;
}
.img-Ctrl span{
  cursor: pointer;
  margin-top: 4em;
}
.arrow{
  position: absolute;
  font-size: 2em;
  color: rgb(0, 0, 255);
}
#left{
  left: 0;
}
#right{
  right: 0;
}

#PanelCluster{

}
#PanelCluster span{
}
#PanelCluster span img{
  width: 50%;
  box-sizing: border-box;
  padding: .5em;
}
#penduLumSVG{
  display: block;
  width: 40%;
  margin: 0 auto 3em auto;
}
#penduLumSVG object,
#penduLumSVG img{
}
.wallpaper{
  width: 30vw;
  position: fixed;
  z-index: -10;
}
.wallpaper img{
  width: inherit;
  float:  right;
}
#Extraction{
  left: 20vw;
  top: 30vh;
  width: 40vw;
}
#Extration2{
  right: 0;
  top: 70vh;
}
#Extration3{
  right: 0;
  top: 0;
}
.tilde.bottom span{
  background: transparent !important;
}
