@media (min-width: 600px){
  header h3{
    position: relative;
    top: inherit;
  }
  .rightCluster{
    width: 35vw;
    margin: 0 auto;
    margin-right: 5vw;
    position: relative;
    top: -20vh;
  }
  .wallpaper{
    width: 30vw;
    position: absolute;
    z-index: -10;
  }
  .wallpaper img{
    width: inherit;
    float:  right;
  }
  #textZone1{
    margin: 0 auto;
    margin-left: 20vw;
    position: relative;
    top: -30vh;
    width: 500px;

  }
  #textZone2{
    margin: 0 auto;
    margin-left: 20vw;
    position: relative;
    top: 16em;
    width: 768px;

  }
  #textZone3{
    right: -22vw;
    top: -30em;
    position: relative;
    width: 400px;
    text-align: left;
    display: inline-block;
  }
  #textZone4{
    width: 500px;
    margin-top: 9em;
    margin-left: 18vw;
  }
  #textZone5{
    max-width: 50%;
    width: 700px;
    position: absolute;
    right: 6em;
    margin: 2em;
    margin-top: 0;
  }
}

.snippets{
  font-family: "Times New Roman",  TimesNewRoman , Serif;
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 1.5em;
  max-width: 80%;
}
.captions{
  font-family: "Times New Roman", TimesNewRomanItalic, Serif;
  font-style: italic;
  font-weight: 400;
  width: 300px;
  font-size: 18px;
  letter-spacing: 3px;
  color: rgb(150,150,150);
  margin: auto;
}
.pathCaption{
  position: relative;
  top: 15em;
}
.piecesCaption{
  margin-top: 4em;
  width: 200px;
  margin-left: 0;
}

#iterationMarquee{
  top: 30vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: 40vh;
  left: 5vw;
}

#overlayMarquee{
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: 30vh;
  margin-bottom: 8em;
  top: 2em;
}
#marqueHolder{
  position: absolute;
}
#marqueHolder span{
  display: inline;
}

#iterationMarquee span img{
  width: 35vw;
}
#overlayMarquee span img{
  width: 22vw;
  margin-right: 2em;
}

#overlayCluster{
  width: 45vw;
  float: right;
  margin: 1em;
}

#BitmapModel{
  position: relative;
}
#BitmapModel img{
  margin: 0 auto;
  width: 65vw;
  position: absolute;
  top: 15em;
  right: 0;
  left: 0;
}

.img-Button {
  position: relative;
  margin: 1em;
  text-align: center;
  box-shadow: 5px 5px 8px rgb(152,152,152), 5px 5px 8px rgb(194, 188, 171);
  cursor: pointer;
  z-index: 20;
}

.img-Button img{
  width: 100%;
  display: block;
}

#BitmapPanel{
  width: 45vw;
  margin-right: 5em;
  float: right;
}
#bitmapTriple{
  display: block;
  width: 100%;
  text-align: center;
}
#bitmapTriple span{

}
#bitmapTriple span:first-of-type{
  width: 50%;
  padding: 1em;
  padding-left: 3em;
}
#bitmapTriple span:nth-of-type(2){
  width: 25%;
  display: inline-block;
}
#bitmapTriple span:nth-of-type(2) img{
  display: block;
  width: 100%;
  padding: .5em;
}
#bitmapTriple span img{
  width: inherit;
}
span#Overlayed{
  width: 45vw;
}
span#Overlayed img{
  width: inherit;
}
#project-content{
  position: relative;
  width: 70vw;
  left: 25vw;
}
.img-Ctrl{
  position: absolute;
  z-index: 300;
  width: 100%;
  top: 50%;
}
.img-Ctrl span{
  cursor: pointer;
  padding: 8px;
}
.arrow{
  position: absolute;
  font-size: 2em;
  color: rgb(0, 0, 255);
}
#left{
  left: 0;
}
#right{
  right: 0;
}

#PanelCluster{
  position: relative;
  top: 20em;
  text-align: center;
}
#PanelCluster div img{
  width: 50%;
  box-sizing: border-box;
  padding: .5em;
}
#penduLumSVG{
  display: block;
  width: 50vw;
  margin: 5em auto 0;
}
#penduLumSVG object,
#penduLumSVG img{
}


#RhinoAxon{
  left: 0;
  top: 115vh;
  width: 65vw;
}
#WireframeAxon{
  right: 0;
  width: 45vw;
}
#Pendulum{
  /*-ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);*/
  width: 70vw;
  top: 36em;
  /*bottom:0;
  position:fixed;
  overflow-y: scroll;
  overflow-x: hidden;*/
}
#RenderAxon{
  right: 0;
}
#Mesh{
  right: 0;
  top: 10vh;
  margin: 3em;
}

#Paths,
#Extration3{
  right: 0;
  top: 0;
}
.renderPieces{
  width: 25vw;
}

section#svgCluster{
  position: relative;
  top: -20vh;
}
section#svgCluster span{
  width: 35vw;
  min-width:400px;
  position: absolute;
}
section#svgCluster .renderPieces{
  width: 30vw;
}
#rightIteration{
  top: -35vh;
  right: 0;
}
#roundPath{
  left: 20vw;
  top: -10vh;
}
#linearPath{
  right: 15vw;
  top: 20vh;
}
#leftIteration{
  left: 0;
  top: 30vh;
}

.renderPieces img,
object.svg-files,
object.svg-files img{
  width: inherit;
}
#linearPath object,
#linearPath img{
  -ms-transform: rotate(70deg);
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
}
section#iterationCluster{
  position: relative;
  top: 50vh;
}
#iterationCluster span{
  position: absolute;
  width: 35vw;
}
#ladderPiece{
  top: 5vh;
  right: 0;
}
#floorPiece{
  top: 60vh;
  left: 5vw;
}
#floorPiece img{
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
#doorPiece{
  right: 7vw;
  top: 120vh;
}
#ladderPiece img{
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.tilde.bottom span{
  background: transparent !important;
}
.alignLeft{
  text-align: left;
  left: 6em;
  position: relative;
}
.alignRight{
  position: absolute;
  bottom: 0;
  margin-left: 12em;
  z-index: -10;
}
.alignRight img{
  padding-top: 5em !important;
  width: 55% !important;
}
.diagrams{
  width: 35vw;
}
.floatLeft{
  float: left;
  margin-left: 3em;
}
.floatRight{
  float: right;
  width: 18vw;
  margin-top: 9em;
  margin-bottom: 2em;
}
.diagram.floatRight{
  width: 25vw;
  margin: 6em;
}
#DiagramLeft{
  top: 20em;
  position: absolute;
  left: 0;
  z-index: -10;
  width: 30vw;
}
#DiagramRight{
  position: relative;
  left: 65vw;
}
#BreadCluster{
  position: relative;
}
#BreadOverlay{
  width: 65vw;
  float: right;
  margin-right: 5em;
}

#bitmapDouble{
  width: 30vw;
  left: 0;
  margin: 2em;
  position: relative;
}
#bitmapDouble span{
  width: inherit;
}
#bitmapDouble span img{
  margin: .5em;
}
#bitmapCluster{
  position: relative;
}
#bitmapCluster .carousel {
  width: 65vw;
  position: absolute;
  right: 0;
  top: 18em;
}
#bitmapCluster .carousel span#left{
  left: 1em;
}
#bitmapCluster .carousel span#right{
  right: 1em;
}
#bitmapCluster .img-Ctrl span{
  margin-top: 9em;
}
#footerWallpaper{
  z-index: -10;
  position: relative;
  width: 100vw;
}

span img{
  width: inherit;
}

.imgWindow{
  display:block;
  position: fixed;
  top: -100vh;
  height: 100%;
  width: 100vw;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200;
  background-image: linear-gradient(rgba(216,216,216,.3),rgba(216,216,216,1) 100%);
  background: rgba(255,255, 255, .8);
  overflow-y: hidden;
  overflow-x: hidden;
}

.imgWindow img{
  position: absolute;
  z-index: 300;
  width: 80vw;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.closeWindow{
  right: 0;
  position: fixed;
  margin: 1em;
  color: rgb(0,0,255);
  cursor: pointer;
  text-shadow: 0px 2px 4px rgba(0,0,0,.5);
}
.imgWindow.open{
  top: 0;
  margin: auto;
}
.windowClose{
  right: 0;
  position: absolute;
  color: blue;
  padding: 1em;
  cursor: pointer;
}

body.modal-open{
  overflow: hidden;
  position: fixed;
}
