
#textBox{
  max-width: 400px;
  width: 20vw;
  height: 40vh;
  background: white;
  left: 3vw;
  top: 25vh;
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 20px
  margin: none;
  font-size: 12px;
}


.caption-box{
  max-width: 400px;
  width: 80%;
  background: white;
  overflow-x: hidden;
  margin: none;
  font-size: 14px;
}


#textBox p, .caption-box p{
  color: #5C5C5C;
  margin-top: 0;
}
.text-content{
  position: relative;
  top: 20px;
  line-height: 20px;
  height: 100%;
}
.tilde{
  left: 5vw;
  max-width: 300px;
  width: 16vw;
  position: fixed;
  text-shadow: 0px 2px 4px rgba(0,0,0,.2);
  transform:scale(1.25,1);
  color: rgba(190,190,190,1);
}

.shadow {
    -webkit-filter: drop-shadow( 0px 2px 4px #000; );
            filter: drop-shadow( 0px 2px 4px #000; ); /* Same syntax as box-shadow */
}
.tilde.top{
  top: 23vh;
}
.tilde.bottom{
  top: 65vh;
}
/*.tilde.bottom span{
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 50%);
}*/


#textBox svg path, .caption-box svg path{
  stroke-width: 10;
}
