@font-face {
  font-family: 'BentonSans-Medium';
  src: url('/fonts/BentonSans/BentonSans Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans-Light';
  src: url('/fonts/BentonSans/BentonSans Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  background: #000;
}
body#home{
  /* animation: fadeToBlack 10s ease infinite alternate; */
}
.name{

  position: fixed;
  left: 2em;
  color: #fff;
  font-size: 9pt;
  line-height: 12pt;
  letter-spacing: 1pt;
  text-transform: uppercase;
  font-family: 'BentonSans-Light', 'PT Sans', sans-serif;
}
.projectLinks{
  position: relative;
  top: 35%;
  font-size: 11pt;
  margin: auto;
}

.projectLinks a{
  display: block;
  margin-left: 2em;
  margin-top: 2em;
  text-decoration: none;
  color: #fff;
  font-family: 'BentonSans-Medium', 'PT Sans', sans-serif;
}

.projectLinks a:hover{
  text-decoration: underline;
}

.projectPage{
  text-align: center;
}


.projectPage img{
  margin: auto;
  max-width: 100%;
}

@media(min-width: 769px){
  .projectLinks{
    width: 50%;
  }
  .projectLinks a{
    display: inline-block;
    margin-top: 5em;
    padding-left: 3em;
    width: calc(50% - 5em);
  }
  .projectPage img{
    height: 100vh;
  }

}
#cv{
  color: #fff;
  bottom: 1em;
  position: fixed;
  right: 70px;
  text-transform: uppercase;
  font-family: 'BentonSans-Light', 'PT Sans', sans-serif;
  font-size: 9pt;
  line-height: 12pt;
  letter-spacing: 1pt;
  text-decoration: none;
}
#catepillar{
  width: 50px;
  bottom: 0;
  position: fixed;
  right: 20px;
  animation:
    pulse 3s ease infinite alternate,
    nudge 10s ease infinite alternate;
}

@keyframes fadeToBlack {
  0%, 100% {
    background-color: #000;
  }
  50% {
    background-color: #333;
    /* #8f8f8f; */
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }

  80% {
    transform: translate(-20px, 0);
  }
}

/* #ff912d */
#home{
  text-decoration: none;
}
