@font-face {
  font-family: 'BentonSans-Medium';
  src: url('/fonts/BentonSans/BentonSans Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BentonSans-Light';
  src: url('/fonts/BentonSans/BentonSans Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  background: #000;
}
.name{

  position: fixed;
  left: 2em;
  color: #fff;
  font-size: 9pt;
  line-height: 12pt;
  letter-spacing: 1pt;
  text-transform: uppercase;
  font-family: 'BentonSans-Light', 'PT Sans', sans-serif;
}
.projectLinks{
  position: relative;
  top: 35%;
  font-size: 11pt;
  margin: auto;
}

.projectLinks a{
  display: block;
  margin-left: 2em;
  margin-top: 2em;
  text-decoration: none;
  color: #fff;
  font-family: 'BentonSans-Medium', 'PT Sans', sans-serif;
}

.projectLinks a:hover{
  text-decoration: underline;
}

.projectPage{
  text-align: center;
}


.projectPage img{
  margin: auto;
  max-width: 100%;
}

@media(min-width: 769px){
  .projectLinks{
    width: 50%;
  }
  .projectLinks a{
    display: inline-block;
    margin-top: 5em;
    padding-left: 3em;
    width: calc(50% - 5em);
  }
  .projectPage img{
    height: 100vh;
  }

}

#home{
  text-decoration: none;
}
