link(rel='stylesheet', href='/styles/textContent.css')
section#textBox
  .tilde.top
    object.svg-files.shadow(data="/vectors/squiggle_shadow_2-01.svg" type="image/svg+xml")
      img(src="/vectors/squiggle_shadow_2-01.svg")
  .text-content
    .text-label What
    p  #{info.who}
    .text-label Role
    p  #{info.role} 
    .text-label Software
    p #{info.software}
    .text-label Description
    p #{info.description}
  .tilde.bottom
    object.svg-files.shadow(data="/vectors/squiggle_shadow_2-01.svg" type="image/svg+xml")
      img(src="/vectors/squiggle_shadow_2-01.svg")
