
  <div class="preview-wrapper" id="preview-2d">
    <span id="IMG_boffo">
      <img src="./images/fujifilm/FH000003.JPG"> </img>
    </span>
    <span  id="IMG_shells">
      <img src="./images/fujifilm/FH000031.JPG"> </img>
    </span>
    <span  id="IMG_screenshot">
      <img src="./images/fujifilm/FH000005.JPG"> </img>
    </span>
    <span  id="IMG_scans">
      <img src="./images/fujifilm/FH000032.JPG"> </img>
    </span>
    <span >
      <img src="./images/fujifilm/FH000016.JPG"> </img>
    </span>
  </div>
  <div class="preview-wrapper" id="preview-3d">
    <span id="IMG_fruits">
      <img src="./images/scans/22_TAMAGO1.jpg"> </img>
    </span>
    <span  id="IMG_recall">
      <img src="./images/scans/23_laser_base_1.jpg"> </img>
    </span>
    <span  id="IMG_corridor">
      <img src="./images/scans/23_Stairs_v2.jpg"> </img>
    </span>
    <span  id="IMG_reCorridor">
      <img src="./images/scans/24_projection_1.jpg"> </img>
    </span>
    <span id="IMG_bathHouse">
      <img src="./images/fujifilm/FH000031 2.JPG"> </img>
    </span>
  </div>
  <div class="preview-wrapper" id="preview-fabrication">
    <span id="IMG_bathHouse">
      <img src="./images/fujifilm/FH000003.JPG"> </img>
    </span>
    <span  id="IMG_groupShow">
      <img src="./images/fujifilm/FH000031.JPG"> </img>
    </span>
    <span  id="IMG_monthMaking">
      <img src="./images/fujifilm/FH000005.JPG"> </img>
    </span>
    <span  id="IMG_berggren">
      <img src="./images/fujifilm/FH000032.JPG"> </img>
    </span>
    <span id="IMG_reCorridor">
      <img src="./images/fujifilm/FH000016.JPG"> </img>
    </span>
  </div>
  <div class="preview-wrapper" id="preview-3dModels">
    <span id="IMG_fruits">
      <img src="./images/fujifilm/FH000003.JPG"> </img>
    </span>
    <span  id="IMG_recall">
      <img src="./images/fujifilm/FH000031.JPG"> </img>
    </span>
    <span  id="IMG_corridor">
      <img src="./images/fujifilm/FH000005.JPG"> </img>
    </span>
    <span  id="IMG_reCorridor">
      <img src="./images/fujifilm/FH000032.JPG"> </img>
    </span>
    <span id="IMG_bathHouse">
      <img src="./images/fujifilm/FH000016.JPG"> </img>
    </span>
  </div>
  <div class="preview-wrapper" id="preview-who">
    <span id="IMG_twitter">
      <img src="./images/fujifilm/FH000003.JPG"> </img>
    </span>
    <span  id="IMG_tumblr">
      <img src="./images/fujifilm/FH000031.JPG"> </img>
    </span>
    <span  id="IMG_instagram">
      <img src="./images/fujifilm/FH000005.JPG"> </img>
    </span>
  </div>
